*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 70px;
    background-color: #0f1111;
    color: white;
    display : flex;
    align-items: center;
}
.nav-logo{
    height: 60px;
    width : 130px;
}
.logo{
    background-image: url("amazonlogo.jpg");
    
    height: 60px;
    width: 100%;
    background-size: cover;

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/**box2**/
.add-first{
    color : #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;

}
.add-second{
    font-size: 1rem ;
    margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;

}

